[submodule "themes/hacker"]
	path = themes/hacker
	url = https://github.com/xingrz/Hacker.git
[submodule "themes/miracle"]
	path = themes/miracle
	url = https://github.com/hifun-team/hexo-theme-miracle.git
