[submodule "themes/hacker"]
	path = themes/hacker
	url = https://github.com/xingrz/Hacker.git
[submodule "themes/miracle"]
	path = themes/miracle
	url = https://github.com/hifun-team/hexo-theme-miracle.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/jinan36/hexo-theme-cactus.git
